@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira sans', sans-serif;
    flex-direction: column;
    background: #224941 url(./bg.jpeg);
    margin: 0 auto;
    color: #fff;
    height: 100vh;
    min-width: 375px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.body-container{
    margin: 0 auto;
}
h1{
    margin-bottom: 100px;
    font-size: 32px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    transform: scale(1);

}
@media (max-width: 448px) {
    .container{
        height: 200px;
        width: 200px;
    
    }
}
.container.grow{
    animation: grow 3s linear forwards;

}

.container.shrink{
    animation: shrink 3s linear forwards;
    
}


.gradient-circle{
    background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
    );
    height: 320px;
    width: 320px;
    top: -10px;
    left: -10px;
    z-index: -2;
    position: absolute;
    border-radius: 50%;
}
@media (max-width: 448px){

.gradient-circle{
    max-height: 220px;
    max-width: 220px;
}
}

.circle{
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
}

.pointer-container{
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
    /* background-color: #fff; */
}

@media (max-width: 448px){
    .pointer-container{
        position: absolute;
        top: -50px;
        left: 90px;
        width: 20px;
        height: 150px;
    }
    }

.pointer{
    background-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}